body {
    color: #666666;
    font-family: 'Open Sans', Arial, helvetica, sans-serif;
    font-size: 14px;
    background: url(../../assets/images/bg-body.png) repeat;
}

img {
    width: 100%;
    max-width: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 300;
    color: #4D4D4D;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
    font-size: 50%;
    font-weight: 300;
}

h5 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #2a8fbd;
}

a:hover {
    color: #227297;
    text-decoration: none;
}

.btn-primary,
.btn-primary:focus {
    background: #2a8fbd;
    color: #fff;
    border-color: #2681aa;
    outline: 0;
}
.btn-primary:hover {
    background: #227297;
    border-color: #227297;
}

.global-wrap {
    width: 1230px;
    margin: 30px auto;
    background-color: #F2F2F2;
}

header {
    padding: 15px 0 15px 0;
    text-align: center;
    background-color: #FFFFFF;
}

header a {
    color: #444444;
    font-size: 22px;
}

header a .fa {
    font-size: 24px;
}

header a:hover {
    color: #444444;
    text-decoration: none;
}

nav {
    background-color: #333333;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    list-style-type: none;
}

nav ul li a {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 15px 0 15px;
    color: #FFFFFF;
}

nav ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #262626;
}

nav ul li a:focus {
    text-decoration: none;
}

nav ul li a.active {
    background-color: #2A8FBD;
}

nav ul li a i {
    margin: 0 8px 0 0;
}

.shopping-cart-wrapper {
    float: right;
}

.shopping-cart-wrapper li {
    border-right: 1px solid #232323;
}

.shopping-cart-wrapper li:last-child {
    border: none;
}

.search-wrapper {
    padding: 8px 0 8px 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 3px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 1px rgba(0,0,0,0.1);
    -o-box-shadow: 0 3px 1px rgba(0,0,0,0.1);
    box-shadow: 0 3px 1px rgba(0,0,0,0.1);
}

.search-wrapper label {
    position: relative;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 65px;
    margin: 0 10px 0 0;
    font-size: 19px;
    font-weight: 300;
    color: #666666;
}

.search-wrapper label i {
    position: absolute;
    top: -8px;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #E6E6E6;
}

.search-wrapper .search-input {
    float: left;
    width: 300px;
}

.search-wrapper .search-category {
    float: left;
    width: 200px;
}

.search-wrapper .search-category select {
    width: 100%;
    margin: 5px 0 0 0;
}

.search-wrapper .search-btn,
.search-wrapper .search-btn:hover,
.search-wrapper .search-btn:focus {
    color: #FFFFFF;
    border-color: #247AA1;
    background-color: #2A8FBD;
}

.content-wrapper {
    padding: 30px 0 30px 0;
}

h1.first {
    margin-top: 0;
}

footer {
    color: #999999;
    border-top: 3px solid #2681AA;
}

footer .footer-top-area {
    padding: 30px 0 30px 0;
    background-color: #1F1F1F;
}

footer .footer-copyright {
    padding: 10px 0 10px 0;
    background-color: #000000;
}

/* cs-callout css from bootstrap docs.css */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    border-radius: 3px
}

.bs-callout+.bs-callout {
    margin-top: -5px
}

.bs-callout-danger {
    border-left-color: #d9534f
}

.bs-callout-danger h4 {
    color: #d9534f
}

.bs-callout-warning {
    border-left-color: #f0ad4e
}

.bs-callout-warning h4 {
    color: #f0ad4e
}

.bs-callout-info {
    border-left-color: #5bc0de
}

.bs-callout-info h4 {
    color: #5bc0de
}

.modal-callout {
    margin-top: 5px;
}

/* Product Style */
.product-thumb {
    margin: 5px 0;
}

.product-title + .product-meta {
    margin-top: 7px !important;
}

.product-header {
    position: relative;
    padding: 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.product-desciption {
    color: #858585;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.4em;
}

.product-time {
    color: #666;
    font-weight: 600;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
}

.product-location {
    border-top: 1px dashed #e6e6e6;
    margin-top: 13px;
    padding-top: 13px;
    line-height: 1em;
    margin-bottom: 0;
    color: #a3a3a3;
    font-size: 12px;
}

.product-thumb {
    z-index: 1;
    position: relative;
    text-decoration: none !important;
    display: block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-align: center;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.product-thumb:hover {
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    -webkit-box-shadow: 0 4px 2px rgba(0,0,0,0.25);
    box-shadow: 0 4px 2px rgba(0,0,0,0.25);
}

.product-thumb .product-header >img {
    display: block;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.product-thumb .product-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 20px 22px;
    border-top: none;
    position: relative;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.product-thumb .product-title {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 2;
    margin-bottom: 5px;
    font-size: 16px;
}

.product-thumb .product-meta {
    margin-top: 15px;
}

.product-thumb .product-price-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-thumb .product-price-list > li {
    margin-right: 15px;
    display: inline-block;
}

.product-thumb .product-price-list > li:last-child {
    margin-right: 0;
}

.product-thumb .product-price-list {
    font-size: 15px;
    margin-bottom: 0;
}

.product-thumb .product-price-list > li > span {
    display: block;
    line-height: 30px;
    text-align: center;
    height: 30px;
}

.product-thumb .product-price {
    font-weight: 600;
    color: #fff;
    padding: 0 7px;
    background: #1f93c8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.product-thumb .product-old-price {
    color: #858585;
    text-decoration: line-through;
}

.product-thumb .product-save {
    font-weight: 600;
}